<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings>
  <add name="paginaEntities" connectionString="metadata=res://*/EntityModel.PaginaModelo.csdl|res://*/EntityModel.PaginaModelo.ssdl|res://*/EntityModel.PaginaModelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=1049NOTE35\NELSONSQL;initial catalog=pagina;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
</configuration>